
a, a:hover, a:focus, a:visited {
 color: #A7C947;
}

.logo {
  height: 18px;
}

.logo-wrapper {
  vertical-align: top;
  display: inline-block;
}

.sep {
  color: #A7C947;
  margin: 0px;
  margin-left: 6px;
  margin-right: 6px;
}

.sep-wrapper {
  vertical-align: top;
  display: inline-block;  
}

.app-title {
  color: #A7C947;
  margin: 0px;
}

.app-title-wrapper {
  vertical-align: middle;
  display: inline-block;
}

.app-subtitle-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.small {
  font-size: 0.8em;
}

.medium-small {
  font-size: 0.9em;
}

.help-note {
  color: #C0C0C0;
}

.box-head {
  margin-top: 15px;
  margin-bottom: 10px;
}

.box-left {
  background: #ebedef;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}

/* when screen width <768px */
@media (max-width: 768px) {
  .box-left {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* when screen width >768px */
@media (min-width: 768px) {
  .box-left {
    max-width: 300px;
  }
  
  .box-head {
    margin-left: -15px;
  }
  
.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100% !important;
    max-width: 100%;
}
}

.image-display{
  margin: 10px;
}